body {
    font-family: Arial, sans-serif;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resposta-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resposta-btn:hover {
    background-color: #3e8e41;
}

.resposta {
    display: none;
    padding: 20px;
}

.resposta.show {
    display: block;
}
